################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
**/bin
**/obj
*.lock.json
*.user
